/* modifies all elements */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

/* Modifies the background styling */
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #808080, #d87093); 
}

/* Styling for grids */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* Styling for all buttons */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

/* Styling for all buttons hover effect */
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .90);
}

/* spans the button to cover 2 grid spaces */
.span-two {
    grid-column: span 2;
}


.output {
    /* 1 means first column to -1 which means last column */
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    color: white;
    justify-content: space-around;
    /* flex-direction: column is for vertical alignment */
    flex-direction: column;
    padding: 10px;
    /* breaks text when it's too long */
    word-wrap: break-word;
    /* breaks text or word in the midddle not just end of word */
    word-break: break-all;

}

